# Task 4.6

In [2]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Creating path
path = r'C:\Users\13472\Documents\05-2023 Instacart Basket Analysis- UE'

# Step 3

In [4]:
# Importing orders_products_combined
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02. Data','Prepared Data', 'orders_products_combined.pkl'))

In [6]:
df_orders_products_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,orders_hod,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

# Step 4

In [62]:
df_orders_products_combined.shape

(32434489, 12)

Yes it is still the same as the one that I exported

# Step 5

In [5]:
# Importing Products data set
df_products_checked = pd.read_csv(os.path.join(path, '02. Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [19]:
df_products_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [20]:
df_products_checked.shape

(49672, 6)

# Cleaning up Data Fames

In [6]:
df_orders_products_combined = df_orders_products_combined.drop(columns = ['Unnamed: 0', '_merge'])

In [9]:
df_products_checked = df_products_checked.drop(columns = ['Unnamed: 0'])

# Merging Data

In [10]:
df_merged_large = df_orders_products_combined.merge(df_products_checked, on = 'product_id', indicator = True)

In [12]:
df_merged_large.head()

,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,orders_hod,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

# Step 6

In [13]:
# Confirming the merge
df_merged_large['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [15]:
df_merged_large.shape

(32404859, 15)

# Step 7

In [16]:
# Exporting Data frame
df_merged_large.to_pickle(os.path.join(path, '02. Data','Prepared Data', 'orders_products_merged.pkl'))